# Sample .env file for PyGovPub

# Congress.gov API
# Developer documentation: https://github.com/LibraryOfCongress/api.congress.gov/
CONGRESS_API_KEY='YOUR_CONGRESS-GOV_KEY'

# GovInfo API
# Developer documentation: https://www.govinfo.gov/developers
GOVINFO_API_KEY='YOUR_GOVINFO_KEY'
